# Rust
target/
**/*.rs.bk
Cargo.lock

# Java
**/target/
*.class
*.jar
*.war
*.ear

# Node
node_modules/
dist/
.eslintcache

# Databases
*.db
*.db-shm
*.db-wal

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
